<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Yuri's blog</title>
</head>
<body>
    <div class="welcome">
        <div class="h1_welcome">
            <h1>Hi everyone!</h1>
        </div>
        <div class="p_welcome">
            <p>My name is <a href="/"><strong>Yuri</strong></a> and this is my first blog</p>
        </div>
    </div>

    <div class="posts">
        <div class="first_post">
            <h2><a href="/">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus tortor sed tortor posuere efficitur.
                Integer accumsan malesuada nibh, eu.</p>
            <p class="publish">published: 10.8.20, 13:17</p>
        </div>

        <div class="second_post">
            <h2><a href="/">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus tortor sed tortor posuere efficitur.
                Integer accumsan malesuada nibh, eu.</p>
            <p class="publish">published: 10.8.20, 14:20</p>
        </div>
    </div>
</body>
</html>