{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1 class="post_h1"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p class="post_p">{{ post.text|linebreaksbr }}</p>
        <p class="rate">Rate:<span>{{ post.rate }}</span></p>
        {% if post.published_date %}
            <div class="date">
                <p class="post_date">published: <span>{{ post.published_date }}</span></p>
            </div>
        {% endif %}
    </div>
{% endblock %}