<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Yuri's blog</title>
</head>
<body>
    <div class="welcome">
        <div class="h1_welcome">
            <h1>Hi everyone!</h1>
        </div>
        <div class="p_welcome">
            <p>My name is <a href="/"><strong>Yuri</strong></a> and this is my first blog</p>
        </div>
    </div>

    <div class="posts">
        {% for post in posts %}
            <div>
                <h1><a href="/">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.rate }}</p>
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>